.paper_style {
    display: flex;
    flex-direction: row;
    margin: 150px 10%;
    padding: 20px 0px;
}

.text_part {
    width: 65%;
    margin-top: 40px;
}

.image_part {
    width: 320px;
    height: 380px;
    padding-left: 20px;
    margin-right: 80px;
}

.intro_text {
    color: white;
    text-align: left;
    padding-left: 80px;
}